/*carousel*/
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    height: fit-content;
    align-items: center;
}

.slides .slide {
    min-width: calc(50% - 60px);
    height:400px;
    border-radius: 25px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position-x: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */

}

.slides .slide img {
    height: auto;
    width: 100%;
    margin-bottom: -1rem;
}

.slider-apresentacao .btn-prev {
    transform: translateY(-50%) rotate(-180deg);
}

.slider-apresentacao button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    display: flex;
}

.slider-apresentacao button svg {
    height: 50px;
    width: auto;

}

.slider-apresentacao button svg path {
    fill: white;
}

.slider-apresentacao button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button:first-of-type {
    left: 10px;
}

button:last-of-type {
    right: 10px;
}

.curved-section {
    height: fit-content;
    padding: 50px 0 110px;
    display: block;
    background-color: #ffffffb5;
    width: 100%;
    background-image: url('../assets/inicio/beautiful-landscape-with-blue-sky.jpg');
    background-size: cover;
    background-position: center;
    /*background-blend-mode: luminosity;*/
    transform: translate(0px);
    border:none;
}

.curved-section-conteudo {
    padding: 50px;
    background-color: #00000062;
    margin: 0 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    
}

.curved-section-conteudo section {
    width: fit-content;
    margin-bottom: 1.6rem;
}

.curved-section-conteudo h2 {
    font-size: 3.1rem;
    margin: auto;
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 300;
}

.curved-section-conteudo hr {
    height: 1.5px;
    border: none;
    background-color: white;
}

.curved-section-conteudo p {
    font-size: 1.7rem;
    margin: auto;
    font-family: "Montserrat", serif;
    line-height: 2.5ch;
    color: white;
    font-weight: 200;
}

.curved-section-top {
    width: 100%;
    position: absolute;
    top: 0;
}

.curved-section-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
}

.curved-section .curved-section-top svg,
.curved-section .curved-section-bottom svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 26px;

}

.curved-section svg path {
    fill: #fff;
}
@media (max-width:992px){
    .slides .slide {
     height:350px;
    }
}
@media (max-width:765px) {
    .slides .slide {
        min-width: 86%;
        border-radius: 25px;
        overflow: hidden;
        margin-left: 7%;
        margin-right: 7%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    }
}
@media (max-width:510px) {
    .curved-section-conteudo h2 {
        font-size: 2rem;
    }

    .curved-section-conteudo p {
        font-size: 1.3rem;
    }
    .curved-section-conteudo{
        padding: 1rem;
    }
}
/*NOSSA MISSAO*/
.nossa-missao {
    margin-top: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: 200px;
    overflow: hidden;
    padding: 0 10%;
    margin-bottom: 8rem;
}

.nossa-missao .sub-titulo {
    font-size: 4.5rem;
    font-family: "Montserrat", serif;
    font-weight: 300;
    display: flex;
    padding-bottom: 20px;

}

.nossa-missao p {
    font-family: "Montserrat", serif;
    line-height: 3ch;
    font-size: 1.6rem;

}

@media (max-width:993px) {
    .nossa-missao {
        width: 100%;
        padding: 2.5rem;
        margin: 0;
    }

    .nossa-missao .sub-titulo {
        font-size: 3.1rem;
    }
}

@media (max-width:510px) {
    .nossa-missao .sub-titulo {
        font-size: 2rem;
    }

    .nossa-missao p {
        font-size: 1.2rem;
    }
    .nossa-missao{
        padding: 1rem;
    }
}

/*Cartao de Visita*/
.cartao-visita {
    display: flex;
    margin-top: 100px;

}

.cartao-visita span {
    font-size: 4rem;
    margin: auto;
}



@media (max-width:993px) {
    .cartao-visita span {
        font-size: 3rem;
        margin: auto;
        text-align: center;
    }
}