/*quem somos*/
.quem-somos {
    display: flex;
    padding: 30px;
}

.quem-somos .texto-container {
    width: 50%;
}

.quem-somos .texto-container .titulo {
    font-size: 4rem;
    font-family: "Poppins", serif;
}

.quem-somos .texto-container .texto {
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    line-height: 2.5ch;
    text-indent: 1rem;
}

.quem-somos .img-container {
    width: 40%;
    margin: 0 auto;
}

.quem-somos .img-container img {
    border-radius: 20px;
    
    width: 100%;
}
@media (max-width:993px) {
    .quem-somos{
        flex-direction: column-reverse;
        padding: 0;
    }
    .quem-somos .img-container {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        height: 300px;

    }
    .quem-somos .img-container img {
        display: none;
    }
    .quem-somos .img-container img:nth-child(1) {
        display: flex;
        border-radius: 0;
        width: 100%;
        
    }
    .quem-somos .texto-container{
        width: 80%;
        padding-left: 30px;
    }
    .quem-somos .texto-container .titulo {
        font-size: 3rem;
    }
}