* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* Evita rolagem horizontal indesejada */
}

.titulo {
    font-family: 'Playfair Display';
    width: 140px;
    overflow-wrap: break-word;
    font-size: 1.3rem;
    margin: 0;
}

.logo img {
    position: relative;
    width: auto;
    height: 110px;
    z-index: -1;
}

.logo {
    display: flex;
    overflow: hidden;
    height: 110px;
    width: 200px;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    padding: 0px 40px 0px;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    transition: .5s;
    opacity: .9;
    z-index: 99;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height:125px;
}

header:hover {
    opacity: 1;
}

header .menu-desktop {
    margin-left: 30px;
    display: flex;
}

header .menu-desktop  a {
    margin: 0 10px;
    opacity: .7;
    cursor: pointer;
    transition: .5s;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

header .menu-desktop a:hover {
    opacity: 1;
    text-decoration: underline;
}

.conteudo {
    margin-top: 150px;
    margin-bottom: 150px;
}
@media (min-width:1400px) {
    .conteudo.pagina-contato{
        padding: 0 50px;
    }
}

@media (max-width:425px){
    header{
        padding: 0 20px 0;
    }
    .nossa-missao .sub-titulo{
        font-size: 2.5rem;
    }
    .nossa-missao .texto{
        font-size: 1.3rem;
    }
}
.yt-container {}

.nossa-missao {
    margin-top: 4rem;
    width: 60%;
    margin-left: auto;
    margin-right: 200px;
    overflow: hidden;
    padding: 0 0 0 30px;
}

.nossa-missao .sub-titulo {
    font-size: 4rem;
    font-family: "Montserrat", serif;
    font-weight: 300;
    display: flex;

}

.nossa-missao p {
    font-family: "Montserrat", serif;
    line-height: 3ch;
    font-size: 1.3rem;

}
@media (max-width:993px) {
    .nossa-missao {
    width: 80%;
    }
}
/*SCROLL ANIMACAO*/
.animacao-scroll.vertical {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.animacao-scroll.vertical.show {
    opacity: 1;
    transform: translateY(0);
}

.animacao-scroll.horizontal {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.6s ease-out;
}

.animacao-scroll.horizontal.show {
    opacity: 1;
    transform: translateX(0);
}

/* SLIDE*/
.slider-apresentacao {
    margin-top: 4rem;
}

.slider-apresentacao .slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 500px;
}

.slider-apresentacao .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 50%;
    /* 100% para cada slide */
}

.slider-apresentacao .slide {
    width: 100%;
    flex-shrink: 0;
}

.slider-apresentacao .slide img {
    width: 100%;
    display: block;
}

.slider-apresentacao button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.slider-apresentacao .prev {
    left: 20px;
}

.slider-apresentacao .next {
    right: 20px;
}

.slider-apresentacao button:hover {
    background: black;
}
@media (max-width:768px) {
    .slider-apresentacao .slider{
    width: 100%;
    }
}
/*Cartao de Visita*/
.cartao-visita {
    display: flex;
    margin-top: 100px;

}

.cartao-visita span {
    font-size: 3rem;
    margin: auto;
}

.inverter-cor {
    filter: invert(1);
}

@media (max-width:993px) {
    .cartao-visita span {
       padding: 0 0 0 30px;
    }
}

/*Contato*/
.contato {
    display: block;
    padding: 30px;
}

.contato .contato-container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;

}

.contato .mapa-container {
    margin-left: auto;
    margin-top: 60px;
    width: 100%;
}

.contato .card-contato {
    width: 200px;
    height: 160px;
    border: 1px solid rgba(205, 205, 205, 0.473);
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-bottom: 80px;

}

.contato .contato-container .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: black;
    transform: translate(-50%, -50%);
    border: 1px solid;
    left: 50%;


}

.contato .contato-container .texto {
    display: flex;
    justify-content: center;
    margin-top: -34px;
    text-align: center;

}

.contato .titulo {
    font-size: 3rem;
    font-family: "Poppins", serif;
}

.contato .mensagem {
    font-size: 1.3rem;
    font-family: "Montserrat", serif;
}
@media (max-width:993px) {
    .contato{
        padding: 0;
        
    }
    .contato .contato-container {
        width: 100%;
    }
    .contato .mapa-container {
        width: 100%;
    }
    .contato .titulo,.mensagem{
        display: flex;
        padding: 0 30px;

        width: 100%;
    }
}
@media (min-width:1230px) {
    .contato {
        display: flex;
        
    }
    .contato .mapa-container {
        width: 50%;
    }


}

/*quem somos*/
.quem-somos {
    display: flex;
    padding: 30px;
}

.quem-somos .texto-container {
    width: 50%;
}

.quem-somos .texto-container .titulo {
    font-size: 4rem;
    font-family: "Poppins", serif;
}

.quem-somos .texto-container .texto {
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
}

.quem-somos .img-container {
    width: 40%;
    margin: 0 auto;
}

.quem-somos .img-container img {
    border-radius: 20px;
    
    width: 100%;
}
@media (max-width:993px) {
    .quem-somos{
        flex-direction: column-reverse;
        padding: 0;
    }
    .quem-somos .img-container {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        height: 300px;

    }
    .quem-somos .img-container img {
        display: none;
    }
    .quem-somos .img-container img:nth-child(1) {
        display: flex;
        border-radius: 0;
        width: 100%;
        
    }
    .quem-somos .texto-container{
        width: 80%;
        padding-left: 30px;
    }
    .quem-somos .texto-container .titulo {
        font-size: 3rem;
    }
}
/*Footer*/
footer {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 20px 30px 0px;
    justify-content: space-between;
    background-color: black;
    color: white;
}

footer section {
    display: flex;
}

footer .menu {
    display: flex;
    flex-direction: column;
}

footer .dados-contato {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: auto;

}

footer .dados-contato span {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

footer .dados-contato img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/*MENU HAMBURGUER*/


.menu-mobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 22px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
    transform: translateY(-50%);
}
.menu-mobile.active .bar {
    background-color: white;
}
.bar {
    width: 100%;
    height: 5px;
    background-color: black;
    transition: 0.4s;
}

/* Menu de Navegação */
.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: black;
    padding-top: 60px;
    transition: 0.4s;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 15px;
    text-align: center;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menu ul li a:hover {
    background: white;
    text-decoration: none;
    color: black;
}

/* Estilo quando o menu está aberto */
.menu.active {
    right: 0;
}

/* Animação do Ícone ao abrir */
.menu-mobile.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.menu-mobile.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-mobile.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
@media (max-width:993px) {
    .menu-mobile{
        display: flex;
    }
    header .menu-desktop {
        display: none;
    }
}
